body {
  background-color: #1f2937;
  padding: 0;
}

.page-wrapper {
  width: 90%;
  margin: 130px auto;
}

#white-text {
  color: #ffffff;
}

#green-text {
  color: #67df87;
}

.hero-text {
  color: #bebfc4;
  margin-bottom: 50px;
}

button {
  background: #53b982;
  color: #f0fbf7;
  padding: 10px 15px;
  border: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

hr {
  border: 1px solid #2f3e53;
  margin-bottom: 30px;
}

.password-div-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.password-div {
  width: 170px;
  height: 35px;
  border: 0;
  border-radius: 5px;
  /* background-color: #273549; */
  background-color: #273549;
}
